@import "../bootstrap/scss/bootstrap";

body {
	padding-top: 50px;
	align-items: center;
	@extend .text-center;
}

// .navbar-header {
// 	text-align: center;
// 	background: red;
// }


.titlebar-banner {
	border-radius: 5px;
	border-width: 1px;
}