<nav class="titlebar-banner">
	<div class="container-fluid ">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<!--
				<span class="glyphicon glyphicon-picture"></span>
				-->
				A Lightweight Screenshot API
			</a>
		</div>
	</div>
</nav>
