<meta charset="UTF-8">
<title>
	<% title %>
</title>

<!-- ejs is basically html plus ejs templating -->

<!-- CSS here -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/litera/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">