<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container-fluid">
	<div class="body-child">
		<% include ../partials/header %>
		<% include ../partials/content %>
	</div>
</body>
</html>